.button {
	margin-top: 24px;
	margin-right: 20px;
	padding: 10px 20px;

	font-weight: 400;
	font-size: 16px;

	color: var(--white);
	background-color: var(--primary);

	border-radius: 4px;
	border: 2px solid var(--primary);

	&:hover {
		background-color: var(--hover);
		border-color: var(--hover);
	}

	&:active {
		background-color: var(--active);
		border-color: var(--active);
	}

	&:focus {
		background-color: var(--primary);
		border-color: var(--gray);
	}

	&:disabled {
		background-color: var(--disabled);
		border-color: var(--disabled);
	}
}
