:root {
	--white: #fff;
	--white-s: rgba(255, 255, 255, 0.88);
	--gray-m: #fafafa;
	--gray-l: #f1f1f1;
	--gray-s: #d4d4d4;
	--gray: rgba(17, 17, 17, 0.48);
	--gray-k: #6b6b6b;
	--black: #000;

	--disabled: #e3daf9;
	--primary: #6e41e2;
	--hover: #5835b0;
	--active: #472c8a;

	--red-girl: #f9e3e3;
	--red-boy: #f2caca;
	--red: #db524e;
	--super-red: #c7302b;
	--green: #27ae60;
	--blue: #428bf9;
}
