.file__loader {
	width: 675px;

	&__wrapper.drag {
		z-index: 10;
		background-color: var(--primary);
		background-image: url('../../../shared/assets/images/file-drag.png');
		background-repeat: no-repeat;
		background-position: center center;
	}

	&__button {
		display: flex;
		position: relative;
		height: 64px;

		button {
			position: absolute;
			right: 0;

			width: 81px;
			height: 44px;
			margin-top: 20px;

			color: var(--primary);
			background-color: var(--white);

			border-radius: 4px;
			border: 2px solid var(--primary);

			&:hover {
				background-color: rgba(110, 65, 226, 0.04);
			}

			&:active {
				background-color: rgba(110, 65, 226, 0.16);
			}

			&:focus {
				border-color: var(--gray);
			}

			&:disabled {
				background-color: var(--black);
			}
		}
	}
}
